@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 241, 245, 249;
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-rgb: 241, 245, 249;
    --foreground-rgb: 248 250 252;
  }
}

body {
  background: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));
}
